body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.subhead h1 {
    font-size: 54px;
}

a {
    color: #009682;
}

#home {
    line-height: 20px;
    font-size: 15px;
}

.date {
    display: inline;
    display: inlinex;
    font-weight: bold;
    color: white;
}

.important {
}

.button {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #009682
}
.button p {
    padding-top: 25px;
    line-height: 30px;
}
.button a:hover {
    text-decoration: none;
}

.nor p {
    padding-top: 35px;
}

.f32 {
    display: inline;
}

.social_icon {
    height: 32px;
    width: 32px;
}

.talk {
  margin-bottom: 70px;
}

.title {
  margin: 10px 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 44px;
  color: #ffffff;
  text-rendering: optimizelegibility;
  font-size: 31.5px;
}

.speaker {
  margin: 10px 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-rendering: optimizelegibility;
}
}

.title {
    color: #cccccc;
}

.speaker {
    font-size: 13px;
}

td {
    vertical-align: top;
}