@import "variables";

.codeOfConduct .coc {
    .title {
        max-width: 220px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 1rem;
        margin: 0px;
    }
    .paragraph {
        font-size: 1rem;
        margin: 0px 0px 10px 0px;
    }
}