.difficulty {
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 28px;    
    position: relative;


    span.first, span.second, span.third {
        display: block;
        background-color: #CFD0D3;
        position: absolute;
        bottom: 0;
        width: 25%;
    }

    span.first {
        height: 33.3%;
    }

    span.second {
        margin-left: 37.5%;
        height: 66.6%;
    }

    span.third {
        margin-left: 75%;
        height: 100%;
    }

    span.active {
        background-color: #1D2E46;
    }
}

