@import "variables";

.filter-button {
  margin-top: 32px;
  margin-left: 30px;
  width: 33px;
  display: block;
  cursor: pointer;

  .filter-button-container {
    position: relative;
    z-index: 4;
  }
  span.top,
  span.middle,
  span.bottom {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out;
    display: block;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    color: $text-color;
    position: relative;
    background: currentColor;
    border-radius: 3px;
  }
  span.top {
    width: 100%;
  }
  span.middle {
    width: 70%;
  }
  span.bottom {
    width: 40%;
  }
}

.filter-button.open {
  .filter-button-container {
    z-index: 5;
  }

  span.top {
    -webkit-transform: translateY(6px) rotateZ(45deg);
    -moz-transform: translateY(6px) rotateZ(45deg);
    -ms-transform: translateY(6px) rotateZ(45deg);
    -o-transform: translateY(6px) rotateZ(45deg);
    transform: translateY(6px) rotateZ(45deg);
  }

  span.middle {
    opacity: 0;
  }

  span.bottom {
    -webkit-transform: translateY(-12px) rotateZ(-45deg);
    -moz-transform: translateY(-12px) rotateZ(-45deg);
    -ms-transform: translateY(-12px) rotateZ(-45deg);
    -o-transform: translateY(-12px) rotateZ(-45deg);
    transform: translateY(-12px) rotateZ(-45deg);
    width: 100%;
  }
}

.filter-container.dropdown {
  .filter {
    position: absolute;
    width: 600px;
    border: 1px solid $border-color;
    z-index: 2;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 0.5);
    left: calc(50vw - 300px - 1px); // 50vw
    top: 0px;
    transform-origin: 0 0;
    transform: translateY(-100%)
  }

  .filter.open {
    transform: translateY(200px);
    z-index: 4;
  }
}

.filter-container.slide-left {
  .filter {
    transform: translateX(-100%);
    width: 100vw;
    @media screen and (min-width: $break-small) {
      width: 25vw;
    }
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    .close {
      display: none;
    }
  }
  .filter.open {
    z-index: 4;

    transform: none;
  }
}

.filter {
  position: relative;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding-bottom: 30px;
  z-index: 1;
  background: white;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 0.5);
  .subheader {
    font-weight: bold;
    font-size: 1rem;
  }
  .close {
    display: block;
    color: $text-color;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 31px;
    height: 31px;
  }
  .header {
    font-weight: 100;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .favorite {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    .subheader {
      display: block;
    }
  }
  .active {
    margin-left: 40px;
    margin-top: 56px;
  }
  .nonActive {
    margin-top: 50px;
    margin-left: 40px;
  }
  .filter-tag {
    font-size: 0.875rem;
  }
}

.filter-tag {
  border-radius: 20px;
  border: 2px solid $border-color;
  padding: 5px 7px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: #1d2e46;
  display: inline-block;
  font-size: 0.75rem;

  cursor: pointer;
}
.filter-tag.selected {
  color: white;
  background-color: $border-color;
}
