@import "variables";

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout .content {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
    width: 100%;
  }

  #KDSlogo {
    width: 10em;
    margin-right: 5%;
    @media screen and (max-width: $break-small) {
      width: 5em;
      margin-right: 1em;
    }
  }
  .headline {
    float: right;
    margin-bottom: 0.5em;
    font-weight: normal;
    @media screen and (max-width: $break-small) {
      float: right;
      font-size: 1.1em;
    }
  }
  .header-location {
    margin: 0em;
    font-size: 1em;
    font-weight: normal;
    color: $header-text-color;
    @media screen and (max-width: $break-small) {
      font-size: 0.8em;
    }

    #location-img {
      width: 1em;
      margin-right: 0.5em;
    }
  }

  .header-subheadline {
    margin-top: 0em;
    font-size: 0.8em;
    font-weight: normal;
    .subheadline-link {
      text-decoration: none;
      color: $link-color;
    }
    @media screen and (max-width: $break-small) {
      font-size: 0.7em;
    }
  }

  #KDSheader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menuAndHeader {
  min-height: $header-height;
  max-height: $header-height;
  @media screen and (max-width: $break-small) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.filter-pos {
  position: absolute;
  left: 0px;
  top: 0px;
}