@import "variables";

#map {
  position: absolute;
  width: 100%;
  height: 50em;

  @media screen and (max-width: $break-small) {
    height: 20em;
  }
}

#location-link {
  color: #009681;
  font-size: 2em;
}
