@import "variables";
.form {
    @media screen and (max-width: $break-small) {
        width: 90%;
      }
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.form .form-row {
    vertical-align: middle;
    margin: 5px;
}

.form-row-header {
    @extend .form-row;
    text-align: center;
    margin-bottom: 10px;
}

.form-error {
    @extend .form-row;
    color: red;
}

.form-row > * {
    float: left;
}

.form input {
    font-size: 1.2em;
}
