@import "variables";
.form {
    @media screen and (max-width: $break-small) {
        width: 90%;
      }
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    display: flex;
    flex-direction: column;
}
.form .form-row {
    vertical-align: middle;
    margin: 5px;
    text-align: center;
}

.form-row-header {
    @extend .form-row;
    text-align: left !important;
    margin-bottom: 0px !important;
}

.form-row > * {
    float: left;
}

.form input {
    font-size: 1.2em;
}
