@import "variables";

#menu {
  width: 100%;
  transform: translate(100%, 0);
  @media screen and (min-width: $break-small) {
    width: 25%;
    transform: translate(400%, 0);
  }

  display: flex;
  justify-content: center;
  font-family: $font-family;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  margin: 0;
  padding-bottom: 40px;

  /* to stop flickering of text in safari */
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 0.5);

  .menuHeader {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 100;
  }

  .link {
    color: $primary-color;
    text-decoration: none;
    padding: 1em 1em 1em 1em;
    font-size: 24px;
    margin-left: 40px;
    font-weight: bold;

    &:hover {
      transition: 0.4s linear all;
      color: black;
      cursor: pointer;
    }
  }
}

#menuToggle {
  input:checked ~ #menu {
    transform: none;
    @media screen and (min-width: $break-small) {
      transform: translate(300%, 0);
    }
  }
  input:checked {
    z-index: 3;
  }

  input:checked ~ .menuButton {
    z-index: 2;
  }

  span.top,
  span.middle,
  span.bottom {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 5px;
    position: relative;

    color: $secondary-color;
    background: currentColor;
    border-radius: 3px;

    z-index: 1;
  }

  input:checked ~ .menuButton span.top {
    -webkit-transform: translateY(6px) rotateZ(45deg);
    -moz-transform: translateY(6px) rotateZ(45deg);
    -ms-transform: translateY(6px) rotateZ(45deg);
    -o-transform: translateY(6px) rotateZ(45deg);
    transform: translateY(6px) rotateZ(45deg);
  }

  input:checked ~ .menuButton span.middle {
    opacity: 0;
  }

  input:checked ~ .menuButton span.bottom {
    -webkit-transform: translateY(-12px) rotateZ(-45deg);
    -moz-transform: translateY(-12px) rotateZ(-45deg);
    -ms-transform: translateY(-12px) rotateZ(-45deg);
    -o-transform: translateY(-12px) rotateZ(-45deg);
    transform: translateY(-12px) rotateZ(-45deg);
  }
  input {
    display: block;
    position: absolute;
    top: 32px;
    right: 26px;
    width: 34px;
    height: 34px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  .menuButton {
    position: absolute;
    top: 32px;
    right: 30px;
    width: 33px;
    display: block;
  }
}


.register-button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  background-color: #a0d1ca;
  color: black;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
  font-weight: bold;
  z-index: 1;
}

.header {
  .register-button {
    width: 85%;
  }
}

div.schedule div#menu a.schedule,
div.talksAndSpeakers div#menu a.talksAndSpeakers,
div.practicalities div#menu a.practicalities,
div.callForPresentations div#menu a.callForPresentations,
div.aboutUs div#menu a.aboutUs,
div.location div#menu a.location,
div.codeOfConduct div#menu a.codeOfConduct {
  color: $link-color;
}
