@import "variables";

#menu {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: $font-family;

  @media screen and (max-width: $break-small) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    margin: 0;

    /* to stop flickering of text in safari */
    transform-origin: 0 0;
    transform: translate(-200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 0.5);
  }

  .link {
    color: $primary-color;
    text-decoration: none;
    padding: 1em 1em 1em 1em;
    font-weight: bold;

    &:hover {
      transition: 0.4s linear all;
      background-color: $hover-color;
      color: black;
      cursor: pointer;
    }
  }
}

#menuToggle {
  .checkbox {
    padding: 5px;
  }
  input {
    display: none;
    @media screen and (max-width: $break-small) {
      display: block;
      width: 43px;
      height: 41px;
      position: absolute;
      top: 0.5em;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }
  }

  input:checked ~ #menu {
    transform: none;
  }

  span {
    @media screen and (max-width: $break-small) {
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 4px;
      margin-bottom: 5px;
      position: relative;

      color: $secondary-color;
      background: currentColor;
      border-radius: 3px;

      z-index: 1;
    }
  }

  .menuButton {
    padding: 5px;
    width: 33px;

    display: none;
    @media screen and (max-width: $break-small) {
      display: block;
    }
  }
}

div.schedule div#menu a.schedule,
div.talksAndSpeakers div#menu a.talksAndSpeakers,
div.practicalities div#menu a.practicalities,
div.callForPresentations div#menu a.callForPresentations,
div.aboutUs div#menu a.aboutUs,
div.location div#menu a.location,
div.codeOfConduct div#menu a.codeOfConduct,
div.addTalk div#menu a.addTalk,
div.programBuilder div#menu a.programBuilder {
  color: $link-color;
}
