@import "variables";

.switch {
    width: 54px;
    height: 26px;
    border-radius: 12px;
    background-color: $only-favorites-bg-color;
    position: relative;
    
    transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 0.5);
    .ball {
        position: absolute;
        left: -1px;
        top: -2px;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid $border-color;
        transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 0.5);
    }
}

.switch.on {
    background-color: $only-favorites-on-bg-color;
    .ball {
        left: calc(100% - 27px + 2px);
        background-color: $border-color;
    }
}