@import "variables";

.program-builder-container {
    
    .edit-button {
        height: 0;
        span {
            position: relative;
            z-index: 2;
            display: block;
            float: right;
            padding: 10px;
            margin-top: 30px;
            margin-right: 22px;
            cursor: pointer;
        }
    }

    .add-slot-button {
        margin-top: 20px;
        padding: 7px;
        display: block;
        float: right;
        border: 1px solid $primary-color;
        cursor: pointer;
    }

    .add-room-button {
        float: right;
        margin-right: 5px;
        margin-top: 3px;
        width: 100px;
        text-align: center;
        display: block;
        padding: 5px;
        border: 1px solid $primary-color;
        cursor: pointer;
    }

    .remove-button {
        float: right;
        margin-right: 5px;
        margin-top: 3px;
        text-align: center;
        display: block;
        padding: 5px;
        border: 1px solid $primary-color;
        cursor: pointer;
    }
    .remove-day-button {
        padding: 1px 4px;
        margin-left: 10px;
        border: 1px solid $primary-color;
    }
    .add-day-button {
        word-spacing: 0px;    
        padding: 1px 4px;
        margin-left: 10px;
        border: 1px solid $primary-color;
    }

    display: flex;
    flex-direction: row;

    .talk-container.full {
        border: 1px solid red;
    }


    .talk-container {
        min-height: 100px;
    }

    .schedule-container {
        flex-grow: 1;
    }

    .time-pickers {
        float: right;
    }

    .time-picker {
        width: 60px;
        display: inline-block; 
    }
    .edit-type {
        display: inline-block;
    }

    .unassigned-talks {
        .talk {
            width: 200px;
            .time {
                display: none;
            }
            .room {
                display: none;
            }
            .diff {
                display: none;
            }
            .heart {
                display: none;
            }
            .time-info {
                display: none;
            }
        }
    }
}
.dragging-talk {
    cursor: move;
    pointer-events: none;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid black;
}