@import "variables";
@import "styling";

.rooms {
  @media screen and (min-width: $break-schedule) {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .talk-container {
    border-bottom: none;
    .talk {
      padding: 24px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: $break-schedule) {
        border-bottom: 1px solid $border-color;
      }

      .time,
      .room,
      .heart {
        margin-top: 0;
        @media screen and (max-width: $break-schedule) {
          margin-top: auto;
        }
        @extend .flex-col;
        .time-text-day {
          display: none;
        }
        > .wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-grow: 1;
        }
      }

      .time {
        display: none;
        img {
          margin: auto;
        }
      }

      .talk-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .tags {
          .filter-tag {
            padding: 3px 5px;
            span {
              font-size: 0.625rem;
            }
          }
        }
        .speaker {
          font-size: 0.875rem;
          color: $primary-color;
          text-align: left;
          margin-top: 0px;
          margin-bottom: 24px;
        }

        .type-info {
          display: none;
        }

        .day {
          display: none;
        }
        p.info {
          display: none;
        }

        .title {
          display: inline-block;
          max-width: 90%;
          font-size: 1.125rem;
          @media screen and (min-width: $break-schedule) {
            font-size: 1.5rem;
          }
          font-weight: bold;
          text-align: left;
          margin-left: 0px;
          margin-top: 4px;
          margin-bottom: 8px;
        }
      }
      .seperator {
        display: none;
      }
      .header {
        margin-left: 30px; // Stop title from getting to close
        min-width: none;
        max-width: none;
        @media screen and (max-width: $break-schedule) {
          min-width: 70px;
          max-width: 70px;
        }
        order: 1;
        height: 220px; // Cant get this to use full height...
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .time-text,
        .room-name,
        .language-text {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .room-header {
    @media screen and (max-width: $break-schedule) {
      display: none;
    }
    border-left: 0px solid transparent;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
    > * {
      display: inline-block;
    }
    .room-header-text {
      margin-left: 15px;
    }
  }

  @mixin colored-pin($color) {
    .top {
      border-color: $color;
    }
    .bottom {
      border-top-color: $color;
    }
  }

  // Have to use .pin.small.room-... to override pin.smalls default color
  .pin.room-header-green {
    @include colored-pin($event-header-green-color);
  }
  .pin.small.room-header-green {
    @include colored-pin($event-header-green-color);
  }
  .pin.room-header-purple {
    @include colored-pin($event-header-purple-color);
  }
  .pin.small.room-header-purple {
    @include colored-pin($event-header-purple-color);
  }
  .pin.room-header-red {
    @include colored-pin($event-header-red-color);
  }
  .pin.small.room-header-red {
    @include colored-pin($event-header-red-color);
  }
  .pin.room-header-yellow {
    @include colored-pin($event-header-yellow-color);
  }
  .pin.small.room-header-yellow {
    @include colored-pin($event-header-yellow-color);
  }
}

.rooms.single-track {
  @media screen and (min-width: $break-schedule) {
    .talk-container:nth-child(even) .talk {
      background-color: $dark-bg-color;
    }
  }
  display: flex;
  flex-direction: column;
}

.rooms.multi-track {
  @media screen and (min-width: $break-schedule) {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;

    .room-even {
      background-color: $darker-bg-color;
    }
    .room-odd {
      background-color: $dark-bg-color;
    }
    .room-even.talk-even {
      background-color: $dark-bg-color;
    }
    .room-odd.talk-even {
      background-color: white;
    }
    .room-odd.talk-odd {
      background-color: $dark-bg-color;
    }

    .talk {
      height: calc(100% - 40px); // 100% - padding top and padding bottom
      padding: 24px 10px 12px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .seperator {
        display: none;
      }
      .header {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;
        .time-text,
        .room-name,
        .language-text {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
        .room {
          display: none;
        }
      }
    }
  }
}