@import "variables";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "styling";

.schedule {
  .day-selector-top {
    @media screen and (min-width: $break-small) {
      display: none;
    }
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    text-align: center;
    .header-day {
      font-size: 16px;
    }
    .header-day.selected {
      font-weight: bold;
    }
  }
  .slot:nth-child(odd) .event-header {
    background-color: #a0d1ca;
  }
  .slot:nth-child(even) .event-header {
    background-color: #b6b8dc;
  }

  .event-header {
    width: 100%;
    height: 40px;
    .type {
      float: left;
      margin-left: 30px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .time {
      float: right;
      margin-right: 30px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

div.schedule {
  width: 100%;
  padding: 0;
  margin: 0;
  .schedule-container {
    background-color: white;
    @media screen and (min-width: $break-small) {
      border: 1px solid black;
    }
    margin-bottom: 90px;
    margin-top: 90px;
    .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      @media screen and (max-width: $break-small) {
        display: none;
      }
      h1 {
        margin-bottom: 16px;
      }
      .day-selector-header {
        word-spacing: 12px;
        .seperator {
          font-size: 24px;
        }
        .header-day {
          cursor: pointer;
          font-size: 18px;
        }
        .header-day.selected {
          font-weight: bold;
        }
      }
    }
  }
  .slot .room-container:last-child .talk-container:last-child .talk {
    border-bottom: none;
  }
  .talk {
    padding: 24px 30px;
    @media screen and (max-width: $break-large) {
      border-bottom: 1px solid #1d2e46;
    }
    .seperator {
      display: none;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;
      .room {
        @media screen and (min-width: $break-large) {
          display: none;
        }
        margin-top: 0;
        position: relative;
        span {
          display: block;
          float: left;
        }
      }
    }
    .day {
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 6px;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 8px;
    }
    .speaker {
      font-size: 14px;
      color: #1d2e46;
      text-align: left;
      margin-bottom: 20px;
    }

    .time {
      @extend .hide-large;
      img {
        margin: auto;
      }
      .time-text {
        text-align: center;
      }
    }

    .time-info {
      @extend .show-large;
    }

    .time, .room, .time {
      @extend .flex-col;
    }
  }


  .rooms {
    @media screen and (min-width: $break-large) {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
    }
    .room-container:last-child .room-content {
      @media screen and (min-width: $break-large) {
        border-right: none;
      }
    }
  }
}




.room-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;

  .room-header {
    @media screen and (max-width: $break-large) {
      display: none;
    }
    border-left: 0px solid transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
  }

  .room-content {
    flex-grow: 1;
    @media screen and (min-width: $break-large) {
      border-right: 1px solid black;
    }
    .talk-container:not(:last-child) {
      border-bottom: 1px solid black;
    }
  }
}
