@import "variables";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "styling";

.schedule {
  .day-selector-top {
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    @media screen and (min-width: $break-small) {
      display: none;
    }
    @media screen and (max-width: $break-small) {
      top: -($header-bottom-margin - 32px)
    }
    text-align: center;
    .header-day {
      font-size: 1rem;
    }
    .header-day.selected {
      font-weight: bold;
    }
  }
  .slot:nth-child(odd) .event-header {
    background-color: $event-header-color1;
  }
  .slot:nth-child(even) .event-header {
    background-color: $event-header-color2;
  }

  .event-header {
    width: 100%;
    height: 40px;
    .type {
      float: left;
      margin-left: 30px;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
    .time {
      float: right;
      margin-right: 30px;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

div.schedule {
  width: 100%;
  padding: 0;
  margin: 0;
  .schedule-container {
    background-color: white;
    margin-bottom: 90px;
    margin-top: $header-bottom-margin;
    @media screen and (min-width: $break-small) {
      border: 1px solid $border-color;
    }
    > .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      @media screen and (max-width: $break-small) {
        display: none;
      }
      h1 {
        margin-bottom: 16px;
      }
      .day-selector-header {
        word-spacing: 12px;
        .seperator {
          font-size: 1.5rem;
        }
        .header-day {
          cursor: pointer;
          font-size: 1.125rem;
        }
        .header-day.selected {
          font-weight: bold;
        }
      }
    }
  }
  .slot .room-container:last-child .talk-container:last-child .talk {
    border-bottom: none;
  }
  .talk {
    padding: 24px 30px;
    @media screen and (max-width: $break-large) {
      border-bottom: 1px solid $border-color;
    }
    .seperator {
      display: none;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
      .time-text, .room-name, .diff-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .room {
        @extend .hide-large;
      }

    }
    .day {
      display: none;
    }
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: left;
      margin-bottom: 8px;
    }
    .speaker {
      font-size: 0.875rem;
      color: $border-color;
      text-align: left;
      margin-bottom: 20px;
    }

    .time {
      @extend .hide-large;
      img {
        margin: auto;
      }
    }

    .type-info {
      display: none;
    }
    
    .time-info {
      @extend .show-large;
    }

    .time, .room, .time {
      @extend .flex-col;
      .time-text-day {
        display: none;
      }
      > .text {
        flex-grow: 0;
      }
      > .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
      }
    }
  }
  .rooms {
    @media screen and (min-width: $break-large) {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
    }
    .room-container:last-child .room-content {
      @media screen and (min-width: $break-large) {
        border-right: none;
      }
    }
  }

  .filter-helper {
    overflow-x: hidden;
    position: absolute;
    top: $header-bottom-margin;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    * {
      pointer-events: all;
    }
    .filter {
      width: calc(100% - 2px);
      border: 1px solid $border-color;
    }
  }
}




.room-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;

  .room-header {
    @media screen and (max-width: $break-large) {
      display: none;
    }
    border-left: 0px solid transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
  }

  .room-content {
    flex-grow: 1;
    @media screen and (min-width: $break-large) {
      border-right: 1px solid $border-color;
    }
    .talk-container:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}
