@import "variables";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "styling";

.schedule {
  .schedule-document {
    width: $break-schedule;

    margin-left: auto; // Only needed for ie supprot
    margin-right: auto;

    @media screen and (max-width: $break-schedule) {
      width: 100vw;
    }
  }

  .day-selector-top {
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    @media screen and (min-width: $break-small) {
      display: none;
    }
    text-align: center;
    .header-day {
      font-size: 1rem;
    }
    .header-day.selected {
      font-weight: bold;
    }
  }
  .slot:nth-child(odd) .event-header {
    background-color: $event-header-green-color;
  }
  .slot:nth-child(even) .event-header {
    background-color: $event-header-purple-color;
  }

  .event-header {
    width: 100%;
    height: 40px;
    .type {
      float: left;
      margin-left: 30px;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
    .time {
      float: right;
      margin-right: 30px;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

div.schedule {
  width: 100%;
  padding: 0;
  margin: 0;
  .schedule-container {
    background-color: white;
    margin-bottom: 90px;
    margin-top: $header-bottom-margin;
    @media screen and (min-width: $break-schedule) {
      border: 1px solid $border-color;
    }
    @media screen and (min-width: $break-small) {
      border-top: 1px solid $border-color;
    }

    > .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      @media screen and (max-width: $break-small) {
        display: none;
      }
      .schedule-filter {
        height: 0;
        float: left;
      }
      .header-title {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
      }
      .title {
        margin-bottom: 16px;
      }
      .day-selector-header {
        word-spacing: 12px;
        .seperator {
          font-size: 1.5rem;
        }
        .header-day {
          cursor: pointer;
          font-size: 1.125rem;
        }
        .header-day.selected {
          font-weight: bold;
        }
      }
    }
  }
}