@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "variables";
.content {
  .paragraphLink {
    color: $link-color;
    font-weight: bold;
  }



  @media screen and (min-width: $break-small) {
    margin-left: 20%;
    margin-right: 20%;
  }
  @media screen and (max-width: $break-small) {
    padding: 1em;
  }
}

#KDSheader {
  @media screen and (max-width: $break-small) {
    * {
      display: none
    }
  }
}

body {
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}
