@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "variables";

.content {
  overflow-y: visible;
  .paragraphLink {
    color: $link-color;
    font-weight: bold;
  }
  margin-left: auto;
  margin-right: auto;
}

#KDSheader {
  * {
    @extend .hide-small;
  }
}

body {
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: $text-color;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.document {
  margin-top: $header-bottom-margin;
  margin-bottom: 50px;
  width: $break-small - 2 * $document-padding-horizontal;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $border-color;
  padding: $document-padding-vertical $document-padding-horizontal;
  @media screen and (max-width: $break-small) {
    margin-top: 30px;
    padding: $document-padding-vertical-small $document-padding-horizontal-small;
    width: calc(100vw - #{2 * $document-padding-horizontal-small});
    border: none;
  }
  background-color: white;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 2rem;
}
.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px;
}
.paragraph {
  font-size: 1rem;
  margin: 0px 0px 10px 0px;
}

// used for pages like schedule which want to use the entire page when the logo is disabled
.negative-margin {
  @media screen and (max-width: $break-small) {
    margin-top: -$header-bottom-margin;
  }
}

.background {
  @media screen and (max-width: $break-small) {
    display: none;
  }
  z-index: -1;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  position: absolute;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

// !important is needed to overwrite elements with multiple tags, e.g Register button which has display block as part of the style
.hide-small {
  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}
.hide-large {
  @media screen and (min-width: $break-large) {
    display: none !important;
  }
}
.show-small {
  display: none !important;
  @media screen and (max-width: $break-small) {
    display: inherit !important;
  }
}
.show-large {
  display: none !important;
  @media screen and (min-width: $break-large) {
    display: inherit !important;
  }
}
.hide-schedule {
  display: none !important;
  @media screen and (max-width: $break-schedule) {
    display: inherit !important;
  }
}
.show-schedule {
  display: none !important;
  @media screen and (min-width: $break-schedule) {
    display: inherit !important;
  }
}
