@import "variables";
div.talksAndSpeakers {
  width: 100%;
  padding: 0;
  margin: 0;

  .talk-container {
    margin-top: 40px;
    padding: 0;
    width: 100%;

    .talk {
      padding: 0px 30px;
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        .room {
          margin-top: 0;
          position: relative;
          span {
            display: block;
            float: left;
          }
        }
      }
      .day {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 6px;
      }
      .time {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 6px;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 7px;
      }
      .speaker {
        font-size: 18px;
        color: #a0d1ca;
        text-align: left;
        margin-bottom: 20px;
      }
      .info {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
}

.pin-container {
  top: 0;
  left: 0;
}

.pin {
  height: 42px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  .top {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid black;
    width: 30px;
    height: 30px;
  }
  .bottom {
    width: 0;
    height: 0;
    margin-top: -5px;
    margin-left: 4px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid black;
  }
}