@import "variables";
@import "styling";

div.talksAndSpeakers {
  .talks-container {
    @media screen and (min-width: $break-small) {
      border: 1px solid black;
    }
    margin-bottom: 90px;
    margin-top: $header-bottom-margin;
    .title-filter {
      margin-top: 0px;
      > .title {
        text-decoration: none;
        margin-top: 0px;
        font-size: 2.25rem;
      }
      .talks-filter {
        height: 0;
        margin-left: -10px;
        float: left;
        .filter-button {
          margin-left: -50px;
          margin-top: -30px;
        }
      }
    }
  }
  .talk-container:last-child .talk .seperator {
    display: none;
  }
  .talk-container {
    .talk {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        .room-name,
        .diff-name,
        .time-text {
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 16px;
          height: 100%;
        }
      }
      .day {
        font-weight: bold;
        font-size: 0.75rem;
        margin-bottom: 0px;
        @extend .show-small;
      }
      .type-info {
        margin-top: 6px;
        margin-bottom: 0px;
        font-size: 0.75rem;
      }

      .time {
        @extend .hide-small;
      }

      .time-info {
        margin-top: 6px;
        margin-bottom: 0px;
        font-size: 0.75rem;
        font-weight: bold;
        @extend .show-small;
        .duration {
          display: none;
        }
      }
      .title {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 7px;
      }
      .speaker {
        font-size: 1.125rem;
        text-align: left;
        margin-bottom: 20px;
      }
      .info {
        font-size: 1rem;
        margin-bottom: 30px;
      }
      .seperator {
        // Not the prettiest way.. overflow is hidden so it works..
        @media screen and (max-width: $break-small) {
          margin-left: -100vw;
          width: 200vw;
        }
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .time,
      .room,
      .diff {
        @extend .flex-row;
      }
      .filter-tag {
        font-size: 0.875rem;
      }
    }
  }
}
