@import "variables";

#favourite-talk-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Transparent;
  border: none;
}

.day-and-time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talk {
  .header {
    height: 100%;
    .time {
      .wrapper {
        display: flex;
        align-items: center;
      }
    }
    .room,
    .language,
    .heart {
      margin-top: auto;
      margin-bottom: auto;
    }
    .room .room-name,
    .language .language-text,
    .time .time-text {
      display: block;
      font-size: 0.75rem;
      height: 100%;
    }
  }
}

.talk-hidden {
  visibility: hidden;
  @media only screen and (max-width: $break-schedule) {
    display: none !important;
  }
}