@import "variables";
@import "styling";

div.talksAndSpeakers {
  .talks-container {
    @media screen and (min-width: $break-small) {
      border: 1px solid black;
    }
    margin-bottom: 90px;
    margin-top: 90px;
    h1 {
      font-size: 2.25rem;
    }
  }
  .talk-container:last-child .talk .seperator {
    display: none;
  }
  .talk-container {
    .talk {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
      }
      .day {
        display: none;
      }
      .type-info {
        font-size: 0.75rem;
      }

      .time {
        @extend .show-large;
      }

      .time-info {
        @extend .hide-large;
      }
      .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 7px;
      }
      .speaker {
        font-size: 1.125rem;
        color: #a0d1ca;
        text-align: left;
        margin-bottom: 20px;
      }
      .info {
        font-size: 1rem;
        margin-bottom: 30px;
      }
      .seperator {
        // Not the prettiest way.. overflow is hidden so it works..
        @media screen and (max-width: $break-small) {
          margin-left: -100vw;
          width: 200vw;
        }
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .time, .room, .diff {
        @extend .flex-row;
      }
    }
  }
}