@import "variables";


#favourite-talk-button {
  background-color: Transparent;
  border: none;
}

.time-and-flag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.day-and-time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.talk {
  .header {
    height: 100%;
    .time,
    .room,
    .language,
    .heart {
      margin-top: auto;
      margin-bottom: auto;
    }
    .room .room-name,
    .language .language-name,
    .time .time-text {
      display: block;
      font-size: 0.75rem;
      height: 100%;
    }
  }
}

.talk-hidden {
  visibility: hidden;
  @media only screen and (max-width: $break-schedule) {
    display: none !important;
  }
}