@import "variables";

#favourite-talk-button {
  background-color: Transparent;
  border: none;
}

.talk {
  .header {
    height: 100%;

    .diff,
    .room,
    .time,
    .heart {
      margin-top: auto;
      margin-bottom: auto;
    }

    .diff .diff-name,
    .room .room-name,
    .time .time-text {
      display: block;
      font-size: 0.75rem;
      height: 100%;
    }
  }
}

.talk-hidden {
  visibility: hidden;
  @media only screen and (max-width: $break-schedule) {
    display: none !important;
  }
}