$break-small: 742px;
$break-large: 1350px;
$break-schedule: 1086px;

$header-height: 100px;
$min-header-height: 44px;
$header-bottom-margin: 50px;

$primary-color: #333333;
$secondary-color: #A0D1CA;
$digital-white: #F1F0ED;

$dark-bg-color: #F6F6F6;
$darker-bg-color: #EAEAEA;
$grey-bg-color: #75787b;
$light-grey-bg-color: #CFD0D3;

$button-color: $secondary-color;
$toggle-button-color: $grey-bg-color; 
$header-text-color: $grey-bg-color;
$link-color: #FF00FF;
$hover-color: #e4e2db;
$font-family: "Raleway";
$border-color: $primary-color;
$text-color: $primary-color;

$event-header-green-color: $secondary-color;
$event-header-purple-color: #b6b8dc;
$event-header-red-color: #ECC3B2;
$event-header-yellow-color: #EEEEC8;


$document-padding-vertical: 50px;
$document-padding-vertical-small: 0px;
$document-padding-horizontal: 90px;
$document-padding-horizontal-small: 30px;

$diff-color-empty: $light-grey-bg-color; 
$diff-color-filled: $primary-color;

$only-favorites-bg-color: $light-grey-bg-color;
$only-favorites-on-bg-color: $secondary-color;

$filter-dropdown-size: 580px;
