$break-small: 650px;
$break-large: 1200px;

$primary-color: #28334a;
$button-color: #e4e2db;
$secondary-color: #75787b;
$link-color: #009681;
$hover-color: #e4e2db;
$font-family: "Raleway";


$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
