$break-small: 742px;
$break-large: 1350px;

$break-schedule: 1086px;

$header-height: 100px;
$min-header-height: 44px;
$header-bottom-margin: 50px;

$primary-color: #28334a;
$button-color: #a0d1ca;
$toggle-button-color: #75787b; 
$header-text-color: #75787b;
$link-color: #009681;
$hover-color: #e4e2db;
$font-family: "Raleway";
$border-color: #1d2e46;
$text-color: #1d2e46;

$event-header-color1: #a0d1ca;
$event-header-color2: #b6b8dc;

$document-padding-vertical: 50px;
$document-padding-vertical-small: 0px;
$document-padding-horizontal: 90px;
$document-padding-horizontal-small: 30px;

$diff-color-empty: #CFD0D3; 
$diff-color-filled: #1D2E46;

$filter-dropdown-size: 580px;
